.popup-tag {
  /**position:absolute;
	display:none;**/
  background-color: #785448d4;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
}
