button {
  cursor: pointer;
}
span.highlight .tooltiptext {
  visibility: hidden;
  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

span.highlight:hover .tooltiptext {
  visibility: visible;
}
