div {
  margin: auto 0;
}
span {
  cursor: pointer;
  z-index: 1;
}

span.highlight.type-0 {
  background: orange;
}

span.highlight.type-1 {
  background: blue;
}

span.highlight.type-2 {
  background: green;
}

span.highlight .tooltiptext {
  visibility: hidden;
  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

span.highlight:hover .tooltiptext {
  visibility: visible;
}

.popup-tag {
  position: absolute;
  display: none;
  background-color: #785448d4;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
}
