@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

div.content-div {
  height: 500px;
}

div.editor-div {
  border: solid;
  border-color: black;
  overflow-y: scroll;
  padding: 15px 25px;
  line-height: 2;
  width: 75%;
  float: left;
  height: 100%;
}
.controlPanel {
  border: solid;
  border-color: black;
  overflow-y: scroll;
  padding: 5px;
  width: 20%;
  height: 100%;
}
