@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
* {
  box-sizing: border-box;
}

body {
  background-color: #eee !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #484848;
}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

.btn.btn-outline-primary.highlight-btn {
  font-size: 13px;
  margin-top: 15px;
  margin-left: 10px;
}

.highlight-btn#proper-noun {
  border-color: lightsalmon;
  color: lightsalmon;
}

.highlight-btn#proper-noun:hover {
  background-color: lightsalmon;
  color: #fff;
}

.highlight-btn#number {
  border-color: lightblue;
  color: lightblue;
}

.highlight-btn#number:hover {
  background-color: lightblue;
  color: #fff;
}

.highlight-btn#quote {
  border-color: lightgreen;
  color: lightgreen;
}

.highlight-btn#quote:hover {
  background-color: lightgreen;
  color: #fff;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

div.content-div {
  height: 100vh;
}

.top-header {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

div.editor-margin {
  width: 65%;
  float: left;
  padding: 0px 15px;
  padding-top: 10px;
}

div.editor-div {
  background: #fff;
  overflow-y: scroll;
  padding: 40px;
  line-height: 2;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

div.control-margin {
  width: 35%;
  float: left;
  height: 100%;
}

.controlPanel {
  border-left: 1px solid #ddd;
  background-color: #fff;
  overflow-y: scroll;
  padding: 10px 15px;
  height: 100%;
}

.block-text {
  padding: 10px;
  font-size: 0.9rem;
  color: #484848 !important;
  font-weight: 00;
  background-color: #eee;
  border-radius: 3px;
  margin-bottom: 15px;
}

.block-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 12px;
}

.claim-type.pronoun {
  color: salmon;
}

.claim-type.number {
  color: #6495ed;
}

.claim-type.quote {
  color: mediumseagreen;
}

.source-list ul > li {
  list-style-type: none;
}

.source-list ul > li > a > .source-title {
  text-decoration: underline;
  font-weight: 500;
}

.source-list .source-list-title {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 500;
}

.source-list .null-sources {
  margin-left: 30px;
  font-size: 14px;
  margin-bottom: 20px;
}

#submitInfoButton {
  margin-right: 10px;
}
